apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sports-store-app.fullname" . }}
  labels:
    {{- include "sports-store-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "sports-store-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "sports-store-app.selectorLabels" . | nindent 8 }}
      {{- if .Values.prometheusScrape.enabled }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: {{ .Values.prometheusScrape.path | quote }}
        prometheus.io/port: {{ .Values.prometheusScrape.port | quote }}
      {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
              name: http
          env:
            - name: ENVIRONMENT
              value: {{ .Values.env.ENVIRONMENT | quote }}
            - name: FAILURE_RATE
              value: {{ .Values.env.FAILURE_RATE | quote }}
            - name: SIMULATED_LATENCY_SECONDS
              value: {{ .Values.env.SIMULATED_LATENCY_SECONDS | quote }}
          livenessProbe:
            httpGet:
              path: /health/live
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /health/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}